/*
 * Fleeg Beta
 * Custom classes defined only for card elements.
 *
 * Note: only use this classes in card elements.
 *
 */


/* styles for card */
.height-card {
  height: 245px;
  margin-left: -5px;
  margin-right: -5px;
}

.height-card-sm {
  height: 185px;
  margin-left: -5px;
  margin-right: -5px;
}

.height-card-block {
  height: 155px;
}

.height-card-block-sm {
  height: 130px;
}

.height-card-title {
  height: 115px;
}

.height-card-title-sm {
  height: 90px;
}

.image-card {
  background-position: 50% 50%;
  background-origin: border-box;
  background-size: cover;
  background-color: lightgrey;
  height: 100%;
  width: 100%;
}

.avatar-small {
  max-height: 40px;
  max-width:  40px;
}

.avatar-medium {
  max-height: 70px;
  max-width:  70px;
}

.avatar-larger {
  max-height: 130px;
  max-width:  130px;
}

.title-card-list {
  border-bottom: 3px solid black;
}

.bg-playcard {
  background: rgba(0,0,0,0.7);
}

.icon-card {
  margin-top: 65px;
  font-size: 112px;
}

.icon-card-sm {
  margin-top: 40px;
  font-size: 102px;
}
