/*
 * Fleeg Beta
 * Custom classes defined only for header section.
 *
 * Note: only use this classes in header section.
 *
 */

.avatar-loggedin {
  height: 37px;
  width: 37px;
  background-color: lightgrey;
}

.avatar-profile {
  height: 135px;
  width: 135px;
  background-color: lightgrey;
}

.bucket-width {
  width: 160px;
}
