/*
 * Fleeg Beta
 * Custom classes to add some customizations over the theme.
 *
 * Note: It will be removed once get these changes on the theme.
 *
 */


/* Cutomization over theme */
body {
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {  
  letter-spacing: 1px;
}

input[type], textarea {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 0.15rem;
}

.input-group {
  border: 1px solid lightgrey;
  border-radius: 0.15rem;
}

input[type]:focus, textarea:focus,
.input-group input[type]:focus, .form-control:focus {
  background-color: white;
  border-width: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid lightgrey;
  border-radius: 0.15rem;
}

.btn {
  border-radius: 0.15rem;
}

.btn:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

[class*="btn-outline-"] {
  border-width: 1px;
}

small, .small {
  font-size: 85%;
}

.sticky-top {
  top: -0.1em;
}

.rounded {
  border-radius: 0.15rem !important;
}

.dotsmall {
  font-size: 2px;
}
