// styles for card

.height-card {
  height: 245px;
  margin-left: -5px;
  margin-right: -5px;
}

.height-card-md {
  height: 185px;
  margin-left: -5px;
  margin-right: -5px;
}

.height-card-sm {
  height: 125px;
  margin-left: -5px;
  margin-right: -5px;
}

.height-card-block {
  height: 155px;
}

.height-card-block-md {
  height: 130px;
}

.height-card-block-sm {
  height: 50px;
}

.height-card-title {
  height: 115px;
}

.height-card-title-md {
  height: 90px;
}

.image-card {
  background: $lightgrey 50% 50%;
  background-origin: border-box;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.avatar-card-small {
  background-color: $lightgrey;
  height: 40px;
  width: 40px;
}

.avatar-card-medium {
  background-color: $lightgrey;
  height: 70px;
  width: 70px;
}

.title-card-list {
  border-bottom: 3px solid $black;
}

.bg-playcard {
  background: $lightblack;
}

.icon-card {
  font-size: 112px;
  margin-top: 65px;
}

.icon-card-md {
  font-size: 102px;
  margin-top: 40px;
}

.icon-card-sm {
  font-size: 62px;
  margin-top: 30px;
}
