// header style

.d-flex-wrap {
  flex-flow: wrap;
}

.avatar-loggedin-header {
  background-color: $lightgrey;
  height: 37px;
  width: 37px;
}

.dot-alert-header {
  position: relative;
  right: 7px;
  top: 5px;
}
