// header style
.d-flex-wrap {
  flex-flow: wrap;
}

.avatar-loggedin-header {
  height: 37px;
  width: 37px;
  background-color: lightgrey;
}

.dot-alert-header {
  position: relative;
  right: 7px;
  top: 5px;
}
