// nav style

.nav-selected-item {
  border-bottom: solid;
}

.nav-scroll {
  flex-flow: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-bucket-width {
  width: 160px;
}
