extends templates/base.pug
include templates/header.pug
include templates/card.pug
include templates/nav.pug

block content

  +header(false, true)

  .container-fluid.px-0.pt-1

    +navmenu('home', 3)

    // more links
    .row.mx-0.mt-2.mt-md-3
      .col-lg-8.offset-lg-2.p-0

        .row.mx-0
          +media(['https://cdn-images-1.medium.com/max/1600/1*ReOoy5DvE7BHJZ46UM5Zsw.jpeg', '0*c1uTLwrFqb4M7P4y.jpeg'])
          +media(['https://grabr.io/assets/71278b7.jpg', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'], false, true)
          

  include templates/footer.pug
