extends templates/base.pug
include templates/header.pug
include templates/card.pug
include templates/nav.pug

block content

  +header(false, true)

  .container-fluid.px-0.pt-1

    +navmenu('home', 1)

    // buckets header
    .row.mx-0.mt-0.mt-md-3
      .col-lg-8.offset-lg-2.p-0.bg-lightgrey.border

        .d-block.my-3.ml-3
          a.no-hover.d-md-none.h3.mr-2(data-toggle='collapse' href='#bucket-items') Buckets
            small
              i.fas.fa-caret-down.small.text-secondary.ml-2
          .d-none.d-md-inline-block.h3.mr-2 Buckets
          .d-inline.small
            a.mx-2(href='home-bookmarks.html') All
            a(href='home-bookmarks-none.html') Unbucket

        #bucket-items.d-md-block.collapse.ml-3
          input.input-light.mr-2(type='text' value='Open Source' placeholder='Find or create a bucket')
          small Bucket not found.

          // New bucket
          .d-block.my-3
            .d-block.h5.mr-2.text-success
              a.text-success(href='#') + Create bucket OPEN SOURCE

    // selected bucket
    .row.mx-0.mt-2.mt-md-3
      .col-lg-8.offset-lg-2.p-0

        h2.mt-2.mt-md-4.border-bottom.py-1
          span.ml-2.px-3.title-card-list.border-dark
            i.far.fa-bookmark.text-dark
            span.h3  Unbucket

        .row.mx-0
          +small3col(['https://cdn-images-1.medium.com/max/400/0*aZlilaPzxXZeBzwp.', '1*WEDSxCrKyHQFewfsE9yKAQ.png'])
          +small3col(['', '1*WEDSxCrKyHQFewfsE9yKAQ.png'], 'doc')
          +small3col(['https://cdn-images-1.medium.com/max/400/0*2rS1lwtMx1lYgIEH', '0*lI5-avJvcBbQDmA2.jpeg'])
          +small3col(['https://cdn-images-1.medium.com/max/1600/1*ReOoy5DvE7BHJZ46UM5Zsw.jpeg', '0*c1uTLwrFqb4M7P4y.jpeg'])

  include templates/footer.pug
