extends templates/base.pug
include templates/header.pug
include templates/card.pug
include templates/nav.pug

block content

  +header(false, true)

  .container-fluid.px-0.pt-1

    +navmenu('home', 1)

    // buckets header
    .row.mx-0.mt-0.mt-md-3
      .col-lg-8.offset-lg-2.p-0.bg-lightgrey.border

        .d-block.my-3.ml-3
          a.no-hover.d-md-none.h3.mr-2(data-toggle='collapse' href='#bucket-items') Buckets
            small
              i.fas.fa-caret-down.small.text-secondary.ml-2
          .d-none.d-md-inline-block.h3.mr-2 Buckets
          .d-inline.small
            a.mx-2(href='home-bookmarks.html') All
            a(href='home-bookmarks-none.html') Unbucket

        #bucket-items.d-md-block.collapse.ml-3
          input.input-light.mr-2(type='text' placeholder='Find or create a bucket')

          // buckets list
          .d-block.mt-3
            .d-inline-block.h5.text-truncate.bucket-width.text-uppercase.mr-2
              i.fas.fa-bookmark.text-danger
              a.ml-1(href='home-bookmarks-red.html') Arts
            .d-inline-block.h5.text-truncate.bucket-width.text-uppercase.mr-2
              i.fas.fa-bookmark.text-success
              a.ml-1(href='home-bookmarks-green.html') Culture
            .d-inline-block.h5.text-truncate.bucket-width.text-uppercase.mr-2
              i.fas.fa-bookmark.text-info
              a.ml-1(href='home-bookmarks-blue.html') Music Videos
            .d-inline-block.h5.text-truncate.bucket-width.text-uppercase.mr-2
              i.fas.fa-bookmark.text-warning
              a.ml-1(href='home-bookmarks-yellow.html') Technology

    // selected bucket
    .row.mx-0.mt-2.mt-md-3
      .col-lg-8.offset-lg-2.p-0

        h2.mt-2.mt-md-4.border-bottom.py-1
          span.ml-2.px-3.title-card-list.border-info
            i.fas.fa-bookmark.text-info
            span.h3  Music Videos

        .row.mx-0
          +small3col(['https://i.vimeocdn.com/video/641846397_1280x720.jpg', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'], 'video', true, 'info')
          +small3col(['https://cdn-images-1.medium.com/max/400/0*5Ydk4DROjj7bNVOB', '0*lI5-avJvcBbQDmA2.jpeg'], 'img', true, 'info')
          +small3col(['https://grabr.io/assets/71278b7.jpg', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'], 'img', true, 'info')

  include templates/footer.pug
