extends templates/base.pug
include templates/header.pug
include templates/search.pug

block content
  .position-absolute.h-50.w-100.bg-primary
  .fixed-top
    +header(true)
  
  // middle search input and button
  .container-fluid.h-100
    .h-25
    .row.h-25
      .col.text-center.mt--4
        h2.display-3.d-md-none.text-light F
        h2.display-1.d-none.d-md-block.text-light F
    
    .row.h-25.mt--4
      .col-md-10.col-lg-7.mx-auto
        +searchbar(false, false)

    .h-10
    include templates/footer.pug
