extends templates/base.pug
include templates/header.pug
include templates/card.pug

block content
  +header(true, true)
  .container-fluid.px-0.pt-1

    // nav with menu filters
    .bg-white.px-2.sticky-top.border-bottom
      .col.col-lg-10.offset-lg-2.px-0
        .nav.nav-pills.h-scroll.pb-2
          a.btn.nav-link.pb-0.text-success.border-bottom-solid(href='#') All
          a.btn.nav-link.pb-0(href='#') Articles
          a.btn.nav-link.pb-0(href='#') Images
          a.btn.nav-link.pb-0(href='#') Videos
          a.btn.nav-link.pb-0(href='#') Documents
          a.btn.nav-link.pb-0(href='#') People

    // links top cards
    +article(['lHVdOD-zSEdfvq77', 'Eu_lLnqjWKGm2UK1'])
    +media(['1*1Yayigprash76905UkGUMg', 'https://sentry.io/_assets/og/themonitor/05-c0df3a5e02635fdd0eca5fc7c2c1ad8719acd93a37b1d696525c6a81d11ee391.jpg'])

    .row.mx-0.mt-2.mt-md-4
      .col.col-lg-8.offset-lg-2.p-3.bg-lightgrey.border
        .row.m-0.p-0
          .col
            h2.mt-2.mt-md-4
              span.ml-2.px-3 People

        // people cards
        +people(['0*lI5-avJvcBbQDmA2','0*c1uTLwrFqb4M7P4y','1*rR9BfHWbucraC-JqekVjcQ'])

        .row.px-0
          .col.text-right
            a.h5.text-success.text-uppercase.p-4(href='#') See More Users >

    .row.mx-0.mt-2.mt-md-3
      .col.col-lg-8.offset-lg-2.p-0
        h2.mt-2.mt-md-4.border-bottom.py-1
          span.ml-2.px-3.title-card-list More Links

    // links other cards
    +article(['aZlilaPzxXZeBzwp.', '2rS1lwtMx1lYgIEH'])
    +media(['1*ReOoy5DvE7BHJZ46UM5Zsw', 'https://i.vimeocdn.com/video/641846397_1280x720.jpg'])
    +article(['qcgD8m1RVn-0Grss', '5Ydk4DROjj7bNVOB'])

  include templates/footer.pug
