extends templates/base.pug
include templates/header.pug
include templates/card.pug

block content
  +header(true, true)
  .container-fluid.px-0.pt-1
    // nav with menu filters
    .bg-white.px-2.sticky-top.shadow-sm
      .col.col-lg-10.offset-lg-2.px-0
        .nav.nav-pills.h-scroll.pb-2
          a.btn.nav-link.pb-0.text-success.border-bottom-solid(href='#') All
          a.btn.nav-link.pb-0(href='#') Articles
          a.btn.nav-link.pb-0(href='#') Images
          a.btn.nav-link.pb-0(href='#') Videos
          a.btn.nav-link.pb-0(href='#') Documents
          a.btn.nav-link.pb-0(href='#') People

    // links top cards
    each imgs in [['lHVdOD-zSEdfvq77', 'Eu_lLnqjWKGm2UK1'], ['qcgD8m1RVn-0Grss', '5Ydk4DROjj7bNVOB']]
      +article(imgs)

    .row.mx-0.mt-2.mt-md-3
      .col.offset-lg-2
        h4.mb-2.mb-md-4 People
        .row
          .col-4.px-0
            .row
              .col-3
                a(href='#')
                  img.rounded-circle.avatar-medium(src='https://cdn-images-1.medium.com/fit/c/80/80/1*WEDSxCrKyHQFewfsE9yKAQ.png')
              .col-9.d-block
                .h4.text-dark
                  a.crop-text.crop-text-2(href='#') Johny Stratuss Anntjel Majetkwonlooyk
                .d-block.mb-2
                  small 1.3k Followers
                .d-block
                  button.btn.btn-sm.btn-outline-success Follow
          .col-4.px-0
            .row
              .col-3
                a(href='#')
                  img.rounded-circle.avatar-medium(src='https://cdn-images-1.medium.com/fit/c/80/80/0*lI5-avJvcBbQDmA2.jpeg')
              .col-9.d-block
                .h4.text-dark
                  a.crop-text.crop-text-2(href='#') Angel Johnyson
                .d-block.mb-2
                  small 372 Followers
                .d-block
                  button.btn.btn-sm.btn-outline-success Follow
          
          .col-4.px-0
            .row
              .col-3
                a(href='#')
                  img.rounded-circle.avatar-medium(src='https://cdn-images-1.medium.com/fit/c/80/80/1*WEDSxCrKyHQFewfsE9yKAQ.png')
              .col-9.d-block
                .h4.text-dark
                  a.crop-text.crop-text-2(href='#') Johny Stratuss Anntjel Majetkwonlooyk
                .d-block.mb-2
                  small 1.3k Followers
                .d-block
                  button.btn.btn-sm.btn-outline-success Follow
                  

    // .col-12.col-md-6.col-lg-4.mt-2.mt-md-0

    // links other cards
    +article(['aZlilaPzxXZeBzwp.', '2rS1lwtMx1lYgIEH'])

  include templates/footer.pug
