extends templates/base.pug
include templates/header.pug
include templates/card.pug

block content
  +header(true, true)
  .container-fluid.px-0.pt-1

    // nav with menu filters
    .bg-white.px-2.sticky-top.border-bottom
      .col.col-lg-10.offset-lg-2.px-0
        .nav.nav-pills.h-scroll.pb-2
          a.btn.nav-link.pb-0.text-success.border-bottom-solid(href='#') All
          a.btn.nav-link.pb-0(href='#') Articles
          a.btn.nav-link.pb-0(href='#') Images
          a.btn.nav-link.pb-0(href='#') Videos
          a.btn.nav-link.pb-0(href='#') Documents
          a.btn.nav-link.pb-0(href='#') People

    .row.mx-0.mt-2.mt-md-4
      // top links
      .col.col-md-7.col-lg-5.offset-lg-2
        +topcards()

      // people
      .col.col-md-5.col-lg-3
        .row.mx-0.mt-4
          .col.bg-lightgrey.border
            .row.m-0.p-0
              .col
                h2.mt-2.mt-md-4
                  span.ml-md-2 People

            +people()

            .row.px-0.pb-2
              .col.text-right
                a.h5.text-success.text-uppercase.p-4(href='#') See More People >

    // more links
    .row.mx-0.mt-2.mt-md-3
      .col.col-lg-8.offset-lg-2.p-0
        h2.mt-2.mt-md-4.border-bottom.py-1
          span.ml-2.px-3.title-card-list More Links

    // links other cards
    +article(['aZlilaPzxXZeBzwp.', '2rS1lwtMx1lYgIEH'])
    +media(['1*ReOoy5DvE7BHJZ46UM5Zsw', 'https://i.vimeocdn.com/video/641846397_1280x720.jpg'])
    +article(['qcgD8m1RVn-0Grss', '5Ydk4DROjj7bNVOB'])

  include templates/footer.pug
