extends templates/base.pug
include templates/header.pug
include templates/card.pug
include templates/nav.pug
include templates/footer.pug

block content

  +header(false, true)

  .container-fluid.px-0

    +navbuckets()

    // selected bucket
    .row.mx-0.mt-2.mt-md-3
      .col-lg-8.offset-lg-2.p-0

        h2.mt-2.mt-md-4.border-bottom.py-1
          span.ml-2.px-3.title-card-list.border-warning
            i.fas.fa-bookmark.text-warning
            span.h3  Technology

        .row.mx-0
          +small3col(['https://cdn-images-1.medium.com/max/400/0*qcgD8m1RVn-0Grss', '1*WEDSxCrKyHQFewfsE9yKAQ.png'], 'img', true, 'warning')

  +footerbar(true, 1)
