extends templates/base.pug
include templates/header.pug
include templates/card.pug
include templates/nav.pug

block content

  +header(true, true)

  .container-fluid.px-0.pt-1

    // profile infos
    .row.mx-0.my-4
      .col-12.col-md-8.offset-lg-2
        .d-flex.flex-row
          .pr-3
            img.rounded-circle.avatar-profile(src='https://cdn-images-1.medium.com/fit/c/150/150/1*rR9BfHWbucraC-JqekVjcQ.jpeg')
          .px-0.crop-text-block
            .h2.text-dark.mb-0
              span.crop-text.crop-text-2 Robert Kalinwvisk Wisebells
            .d-block.mb-2.text-body @robertkw joined Fleeg in April, 2018
            .d-block.mb-2
              .d-inline-block
                a.pr-2(href='profile-bookmarks.html') 594 Bookmarks
              .d-inline-block
                a.pr-2(href='profile-following.html') 5 Following
              .d-inline-block
                a(href='profile-followers.html') 3.3k Followers
              .d-inline-block.pl-2.pl-lg-3
                a.btn.p-0(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' data-placement='bottom'
                          data-animation='false' data-content='People items')
                  i.fas.fa-angle-down.font-1
            .d-block
              button.btn.btn-sm.btn-outline-success Follow

    +navmenu('profile', 1)

    // more links
    .row.mx-0.mt-2.mt-md-3
      .col-lg-8.offset-lg-2.p-0

        .row.mx-0
          +article(['Eu_lLnqjWKGm2UK1', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'])
          +article(['lHVdOD-zSEdfvq77', '0*lI5-avJvcBbQDmA2.jpeg'])
          +article(['aZlilaPzxXZeBzwp.', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'])
          +media(['https://cdn-images-1.medium.com/max/1600/1*ReOoy5DvE7BHJZ46UM5Zsw.jpeg', '0*c1uTLwrFqb4M7P4y.jpeg'])
          +article(['qcgD8m1RVn-0Grss', '1*WEDSxCrKyHQFewfsE9yKAQ.png'])
          +article(['', '0*c1uTLwrFqb4M7P4y.jpeg'], 'none')

  include templates/footer.pug
