extends templates/base.pug
include templates/header.pug
include templates/card.pug
include templates/nav.pug

block content

  +header(true, true)

  .container-fluid.px-0.pt-1

    // profile infos
    .row.mx-0.my-4
      .col-12.col-md-8.offset-lg-2
        .d-flex.flex-row
          .pr-3
            img.rounded-circle.avatar-profile(src='https://cdn-images-1.medium.com/fit/c/150/150/1*rR9BfHWbucraC-JqekVjcQ.jpeg')
          .px-0.crop-text-block
            .h2.text-dark.mb-0
              span.crop-text.crop-text-2 Robert Kalinwvisk Wisebells
            .d-block.mb-2.text-body @robertkw joined Fleeg in April, 2018
            .d-block.mb-2
              .d-inline-block
                a.pr-2(href='profile-bookmarks.html') 594 Bookmarks
              .d-inline-block
                a.pr-2(href='profile-following.html') 5 Following
              .d-inline-block
                a(href='profile-followers.html') 3.3k Followers
              span.pl-2.pl-lg-3
                a.btn.p-0(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' data-placement='bottom'
                          data-animation='false' data-content='People items')
                  i.fas.fa-angle-down.font-1
            .d-block
              button.btn.btn-sm.btn-outline-success Follow

    +navmenu('profile', 0)

    .row.mx-0.mt-2.mt-md-4
      // top links
      .col-md-7.col-lg-5.offset-lg-2
        .row.mx-0
          +topmedia(['https://sentry.io/_assets/og/themonitor/05-c0df3a5e02635fdd0eca5fc7c2c1ad8719acd93a37b1d696525c6a81d11ee391.jpg',
                     '1*rR9BfHWbucraC-JqekVjcQ.jpeg'], true)
          +toparticle(['Eu_lLnqjWKGm2UK1', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'])
          +toparticle(['', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'], 'doc')

      // people
      .col-md-5.col-lg-3.mt-4.bg-lightgrey.border

        h2.mt-3.mt-md-4
          span.text-capitalize.ml-3 Last
          span.text-lowercase  following

        .row.mx-0.px-3
          +toppeople('0*lI5-avJvcBbQDmA2.jpeg','Angel Johnyson','1.3k')
          +toppeople('0*c1uTLwrFqb4M7P4y.jpeg','Michelle Smawtz Petz','372')
          +toppeople('1*BsvrL330ex3VkgPsTxDsCw.jpeg','Greg Willson','85', true)
          +toppeople('1*WEDSxCrKyHQFewfsE9yKAQ.png','Johny Stratuss Anntjel Majetkwonlooyk','704')

        .row.px-0.pb-2
          .col.text-right.px-4.py-2
            a.h5.text-success.text-uppercase(href='profile-following.html') See More Following >

    // more links
    .row.mx-0.mt-2.mt-md-3
      .col-lg-8.offset-lg-2.p-0

        h3.mt-2.mt-md-4.border-bottom.py-1
          span.ml-2.px-3.title-card-list More Links

        .row.mx-0
          +media(['https://i.vimeocdn.com/video/641846397_1280x720.jpg', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'], true)
          +article(['aZlilaPzxXZeBzwp.', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'])
          +article(['qcgD8m1RVn-0Grss', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'])
          +article(['5Ydk4DROjj7bNVOB', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'])
          +media(['https://grabr.io/assets/71278b7.jpg', '1*rR9BfHWbucraC-JqekVjcQ.jpeg'])

  include templates/footer.pug
