// customization over default theme

body {
  letter-spacing: .5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

textarea,
input[type] {
  background-color: $white;
  border: 1px solid $lightgrey;
  border-radius: .15rem;
}

.input-group {
  border: 1px solid $lightgrey;
  border-radius: .15rem;
}

textarea:focus,
input[type]:focus,
.input-group input[type]:focus,
.form-control:focus {
  background-color: $white;
  border: 1px solid $lightgrey;
  border-radius: .15rem;
  box-shadow: none;
}

.input-light,
.input-light:focus {
  border: none !important;
  border-bottom: 1px solid $lightgrey !important;
  background: none !important;
  padding: 0 5px !important;
  outline: 0;
}

.btn {
  border-radius: .15rem;

  &:focus {
    box-shadow: none;
  }
}

[class*="btn-outline-"] {
  border-width: 1px;
}

small,
.small {
  font-size: 85%;
}

.sticky-top {
  top: -.1em;
}

.text-body {
  color: $lighterblack !important;
}

.rounded {
  border-radius: .15rem !important;
}
