// navbar footer
nav.navbar.navbar-expand
  .navbar-collapse.justify-content-center
    .navbar-nav
      .nav-item.small.mr-3
        p.nav-link 2018 Fleeg
      .nav-item.small.mr-1
        a.nav-link(href='about.html') About
      .nav-item.small.mr-1
        a.nav-link(href='#') Terms
      .nav-item.small.mr-1
        a.nav-link(href='#') Privacy
