// navbar top
nav.navbar.navbar-expand.navbar-dark
  a.navbar-brand(href='index.html') 
    h1.text-light Fleeg
      small
        small
          small
            small.text-muted Beta

  .navbar-collapse.justify-content-end
    .navbar-nav
      .nav-item.d-none.d-md-block
        a.nav-link(href='about.html') About
      .nav-item.mr-2.mr-lg-5
        a.nav-link(href='signin.html') Sign in
