include search.pug

mixin header(external=false, search=false)
  - var navbarclass = search ? 'border-bottom' : 'navbar-dark'
  - var h1class = search ? '' : 'text-light'
  
  // navbar top
  nav.navbar.navbar-expand(class=navbarclass)
    a.navbar-brand(href='index.html')
      h1(class=h1class) Fleeg
        small
          small
            small
              small.text-muted Beta

    if search
      .col-6.d-none.d-md-inline
        +searchbar(false)
          

    if external
      // external right menu
      .navbar-collapse.justify-content-end
        .navbar-nav
          .nav-item.d-none.d-md-block
            a.nav-link(href='about.html') About
          .nav-item.mr-2.mr-lg-5
            a.nav-link(href='signin.html') Sign in

    if search
      .d-block.d-md-none
        +searchbar(false)
