doctype html
html(lang='en')
  head
    title Fleeg
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    // Including bootstrap 4 with Lux theme
    link(rel='stylesheet' href='theme/lux-bootstrap.min.css')

  body
    .container-fluid

      // navbar top
      nav.navbar.navbar-expand
        a.navbar-brand(href='#') 
          h1 Fleeg  
            small
              small
                small
                  small.text-muted Beta
        .navbar-collapse.justify-content-end
          .navbar-nav
            .nav-item
              a.nav-link(href='#') About
            .nav-item
              a.nav-link(href='#') Signin
      
      // meddle search button
      .container
        .input-group.input-group-lg
          input.form-control.py-3.px-3(type='text' placeholder='Search for any link or people')
          .input-group-append
            button.btn.py-3.px-3(type='button', title='Search') Search
        

      // navbar footer
      nav.navbar.navbar-expand.fixed-bottom
        .navbar-nav
          .nav-item
            | 2018 Foss
        .navbar-collapse.justify-content-end
          .navbar-nav
            .nav-item
              a.nav-link(href='#') Terms
            .nav-item
              a.nav-link(href='#') Privacy

    // Include bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
          integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'
          integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
          integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
