doctype html
html(lang='en')
  head
    title Fleeg
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Including bootstrap 4 with Lux theme
    link(rel='stylesheet' href='theme/lux-bootstrap.min.css')
  body
    .container
      .jumbotron
        h1.display-3 Fleeg Web App
        p.lead This is the Web App for Fleeg
        hr.my-3
        p It's just a test page using Bootstrap 4 with Lux theme and Pug engine.
