extends template-external.pug

block content
  .row.h-25
    .col.text-center.mt--4
      h1.display-3.d-md-none.text-light F
      h1.display-1.d-none.d-md-block.text-light F
  .row.h-25.mt--4
    .col-md-10.mx-auto
      .input-group.input-group-lg
        input.form-control.p-3(type='text' placeholder='Search for any link or people')
        .input-group-append
          button.btn.btn-success.p-3.px-4(type='button')
            i.fas.fa-search.px-1.d-md-none
            span.d-none.d-md-inline Search
